body {
    background: #F3F781;
    font: normal 15pt Arial;
}
header {
    color: rgb(117, 116, 116);
    text-align: center;
}
section {
    background: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.349);
    
    
}
img {
    width: 300px;
    height: 300px;
    text-align: center;
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
footer {
    color: rgb(117, 116, 116);
    text-align: center;
    font-size: italic;
}